/opticsExercises.aux
/opticsExercises.dvi
/opticsExercises.log
/opticsExercises.out
/opticsExercises.pdf
/benchtop_scanning.aux
/benchtop_scanning.dvi
/benchtop_scanning.log
/benchtop_scanning.out
/benchtop_scanning.pdf
/laser_alignment.aux
/laser_alignment.dvi
/laser_alignment.log
/laser_alignment.out
/laser_alignment.pdf
*.DS_Store
